@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

.post-card-wrapper {
  height: 280px;
  max-width: 500px;
  min-width: 350px;
  box-shadow: 3px 3px 14px -6px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.71);
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 15px;
}
.post-type {
  background: rgb(248, 84, 100);
  position: relative;
  top: -10px;
  width: max-content;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
}
.post-card-title {
  width: max-content;
  margin-left: 15px;
  position: relative;
  top: 22px;
  color: rgb(65, 65, 65);
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.post-cover-image {
  width: 300px;
  margin-top: -70px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.post-card-wrapper:hover {
  transform: scale(1.015);
}
