@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  font-family: "Nunito", sans-serif;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(249, 249, 249);
  margin-left: 15px;
  border-radius: 5px;
  padding-right: 10px;
}
.filter-object-type {
  padding: 12px 8px;
  border: rgb(185, 185, 185) solid 2px;
  border-radius: 5px;
  font-weight: bold;
  width: max-content;
  margin-left: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  color: rgb(71, 71, 71);
  transition-duration: 0.3s;
}
.filter-object-type-select {
  padding: 12px 8px;
  border: rgb(240, 122, 25) solid 3px;
  border-radius: 5px;
  font-weight: bold;
  width: max-content;
  margin-left: 15px;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  background: rgb(240, 122, 25);
}
.filter-type-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.filter-title {
  margin-left: 15px;
  margin-bottom: 5px;
  color: rgb(71, 71, 71);
}
.filter-object-type:hover {
  border: rgb(100, 100, 100) solid 2px;
}
