@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Nunito:wght@200&display=swap");
* {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Nunito", sans-serif;
}
.title-nav-bar {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Nunito", sans-serif;
}
.wrapper-all-nav-links {
  width: 100%;
  margin-bottom: 110px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-all-nav-links .nav-bar-titles {
  text-decoration: none;
  font-style: none;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  color: red;
}
.wrapper-all-nav-links.title-nav-bar :hover {
  color: rgb(240, 122, 25);
  background: red;
}

.wrapper-route {
  margin-left: auto;
  margin-right: auto;
}
.title-nav-bar:hover {
  color: rgb(240, 122, 25);
}
.title-nav-bar {
  background: red;
  color: rgb(91, 76, 67);
  text-decoration: none;
  font-size: 20px;
  font-weight: 950;
}
.title-nav-bar-select {
  color: rgb(240, 122, 25);
}

.icon-navbar {
  color: rgb(194, 194, 194);
}

.dropdown-attractions-actionsb {
  position: relative;
  left: 15px;
  height: min-content;
  color: red;
}
.dropdown-attractions {
  position: absolute;
  top: 125px;
  font-size: 15px;
}
.dropdown-attractions-actions:hover {
  color: rgb(240, 122, 25);
}
